:root {
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
}

body {
  font-family: 'avenir next', avenir, sans-serif;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100vh;
  padding:var(--spacing-medium);
}

input {
  width: 100%;
  padding:var(--spacing-small);
}
